<div class="row w-100" style="margin-top: 10px; margin-left: 5px">
  <h1>BLOG</h1>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="https://images.pexels.com/photos/1092730/pexels-photo-1092730.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      class="w-100 shadow-1-strong rounded mb-4"
      height="350px"
      alt=""
    />

    <img
      src="https://images.pexels.com/photos/5677917/pexels-photo-5677917.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      class="w-100 shadow-1-strong rounded mb-4"
      height="350px"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://images.pexels.com/photos/1171170/pexels-photo-1171170.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      class="w-100 shadow-1-strong rounded mb-4"
      height="350px"
      alt=""
    />

    <img
      src="https://images.pexels.com/photos/1652312/pexels-photo-1652312.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      class="w-100 shadow-1-strong rounded mb-4"
      height="350px"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://images.pexels.com/photos/314780/pexels-photo-314780.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      class="w-100 shadow-1-strong rounded mb-4"
      height="350px"
      alt=""
    />

    <img
      src="https://images.pexels.com/photos/1099681/pexels-photo-1099681.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      class="w-100 shadow-1-strong rounded mb-4"
      height="350px"
      alt=""
    />
  </div>
</div>

<footer class="bg-light text-center text-white bg-dark mt-5">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998"
        href="#!"
        role="button"
        ><i class="fa fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #55acee"
        href="#!"
        role="button"
        ><i class="fa fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #dd4b39"
        href="#!"
        role="button"
        ><i class="fa fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #ac2bac"
        href="#!"
        role="button"
        ><i class="fa fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #0082ca"
        href="#!"
        role="button"
        ><i class="fa fa-linkedin"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333"
        href="#!"
        role="button"
        ><i class="fa fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <h5 class="text-white">@Pickly.com</h5>
  </div>
  <!-- Copyright -->
</footer>
