<div
  class="container"
  style="
    align-items: center;
    width: 400px;
    border: 1px solid black;
    padding: 40px;
    border-radius: 15px;
    background-color: #20243d;
    margin-bottom: 10px;
    margin-top: 70px;
    color: white;
  "
>
  <div class="card-body">
    <h4 class="card-title">Login</h4>
    <br />
    <form [formGroup]="myForm" novalidate>
      <div class="form-group">
        <label>User Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="userName"
          [ngClass]="{
            'is-invalid':
              userName.errors && (userName.touched || userName.dirty),
            'is-valid': userName.valid
          }"
        />
        <div class="invalid-feedback">
          <!--*ngIf Directive-->
          <strong
            *ngIf="userName.errors?.required"
            style="color: red; font-size: x-small"
            >User Name is required</strong
          >
          <strong *ngIf="userName.errors?.minlength"
            >User Name length must be greater than
            {{ userName.errors?.minlength.requiredLength }} character.
            {{
              userName.errors?.minlength.requiredLength -
                userName.errors?.minlength.actualLength
            }}
            more character required.
          </strong>
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          [ngClass]="{
            'is-invalid':
              password.errors && (password.touched || password.dirty)
          }"
        />
        <div class="invalid-feedback">
          <strong
            *ngIf="password.errors?.pattern"
            style="color: red; font-size: small"
          >
            Pass pattern is required</strong
          >
          <strong
            *ngIf="password.errors?.required"
            style="color: red; font-size: x-small"
          >
            Pass is required</strong
          >
        </div>
      </div>
      <div class="bottompart" style="display: flex; margin-top: 10px">
        <button type="submit" class="btn btn-outline-success">
          <a class="nav-link" href="Home" style="color: white"
            ><span>Login</span></a
          >
        </button>
        <a class="nav-link" href="user-registration " style="color: white"
          >register</a
        >
      </div>
    </form>
  </div>
</div>
