<div class="firstsection">
  <div class="container">
    <h3>
      <div
        class="row"
        style="
          padding: 25px;
          background-color: #82ae46;
          margin-top: 20px;
          text-align: center;
        "
      >
        <div class="col-md-4"></div>
        <div class="col-md-2">Product Name</div>
        <div class="col-md-2">Price</div>
        <div class="col-md-2">Quantity</div>
        <div class="col-md-2">Total</div>
      </div>
    </h3>
    <div class="row">
      <div class="col-md-4">
        <div
          class="card"
          style="width: 18rem; height: 12rem; border-color: white"
        >
          <div class="card-body" style="display: inline-flex">
            <div class="col-md-6" style="text-align: center; margin-top: 4rem">
              <a href=""><i class="fa fa-times" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-6">
              <img
                src="https://technext.github.io/vegefoods/images/product-3.jpg"
                alt="#"
                width="130px"
                height="130px"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div
          class="card"
          style="
            width: 14rem;
            height: 12rem;
            text-align: center;
            border-color: white;
            margin-top: 48px;
          "
        >
          <div class="card-body">
            <h5 class="card-title">Green Beans</h5>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div
          class="card"
          style="
            width: 14rem;
            height: 12rem;
            text-align: center;
            border-color: white;
            margin-top: 48px;
          "
        >
          <div class="card-body">
            <h5 class="card-title">₹ 40 / Kg</h5>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div
          class="card"
          style="
            width: 14rem;
            height: 12rem;
            text-align: center;
            border-color: white;
            margin-top: 35px;
          "
        >
          <div class="card-body"><app-counter></app-counter></div>
        </div>
      </div>
      <div class="col-md-2">
        <div
          class="card"
          style="
            width: 10rem;
            height: 12rem;
            text-align: center;
            border-color: white;
            margin-top: 35px;
          "
        >
          <div class="card-body"><h5 class="card-title">₹ 40</h5></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div
          class="card"
          style="width: 18rem; height: 8rem; border-color: white"
        >
          <div class="card-body" style="display: inline-flex">
            <div class="col-md-6" style="text-align: center; margin-top: 4rem">
              <a href=""><i class="fa fa-times" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-6">
              <img
                src="https://technext.github.io/vegefoods/images/product-4.jpg"
                alt="#"
                width="130px"
                height="130px"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div
          class="card"
          style="
            width: 14rem;
            height: 8rem;
            text-align: center;
            border-color: white;
            margin-top: 48px;
          "
        >
          <div class="card-body">
            <h5 class="card-title">Purple Cabbage</h5>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div
          class="card"
          style="
            width: 14rem;
            height: 8rem;
            text-align: center;
            border-color: white;
            margin-top: 48px;
          "
        >
          <div class="card-body">
            <h5 class="card-title">₹ 65 / Kg</h5>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div
          class="card"
          style="
            width: 14rem;
            height: 8rem;
            text-align: center;
            border-color: white;
            margin-top: 35px;
          "
        >
          <div class="card-body"><app-counter></app-counter></div>
        </div>
      </div>
      <div class="col-md-2">
        <div
          class="card"
          style="
            width: 10rem;
            height: 8rem;
            text-align: center;
            border-color: white;
            margin-top: 35px;
          "
        >
          <div class="card-body"><h5 class="card-title">₹ 65</h5></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="secondsection">
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4" style="padding: 15px">
        <div class="card" style="width: 20rem">
          <div class="card-body">
            <h5 class="card-title" style="padding: 10px 0 10px 0">
              Cart Total
            </h5>

            <p class="card-text d-flex">
              <span style="padding: 5px 100px 5px 0; font-size: 18px"
                >Subtotal</span
              >
              <span style="font-size: 18px"> ₹ 105</span>
            </p>
            <p class="card-text d-flex">
              <span style="padding: 5px 107px 5px 0; font-size: 18px"
                >Delivary</span
              >
              <span style="font-size: 18px"> ₹ 0</span>
            </p>
            <p class="card-text d-flex">
              <span style="padding: 5px 100px 5px 0; font-size: 18px"
                >Discount</span
              >
              <span style="font-size: 18px"> ₹ 15</span>
            </p>
            <hr />
            <p class="card-text d-flex">
              <span style="padding: 5px 138px 5px 0; font-size: 18px"
                >Total</span
              >
              <span style="font-size: 18px"> ₹ 95</span>
            </p>
          </div>
        </div>

        <button
          class="btn btn-success"
          type="button"
          style="
            padding: 10px 50px 10px 50px;
            border-radius: 50px;
            margin-top: 10px;
          "
        >
          <a
            href="https://buy.stripe.com/test_bIY9AJbun5WEaS4bII"
            style="text-decoration: none; color: white"
            >Proceed to Checkout</a
          >
        </button>
      </div>
    </div>
  </div>
</div>
