<div class="container-fluid">
  <div class="bgimg">
    <h1>
      We serve the best Vegies
      <pre class="homeimgcont">for good health</pre>
    </h1>
  </div>
</div>
<div class="secondsec">
  <div class="container-fluid">
    <div class="row" style="padding-left: 150px">
      <div class="col-md-4">
        <div
          class="card"
          style="
            width: 12rem;
            text-align: center;
            padding: 20px;
            height: 12rem;
            border-radius: 50%;
            border: 1px solid black;
            background-color: #28a745;
          "
        >
          <div class="card-body">
            <i
              class="fa fa-truck"
              aria-hidden="true"
              style="font-size: 50px; padding-top: 36px"
            ></i>
            <p>FREE SHIPPING</p>
            <p>ORDER OVER ₹500</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="card"
          style="
            width: 12rem;
            text-align: center;
            padding: 20px;
            height: 12rem;
            border-radius: 50%;
            border: 1px solid black;
            background-color: #28a745;
          "
        >
          <div class="card-body">
            <i
              class="fa fa-lemon-o"
              aria-hidden="true"
              style="font-size: 50px; padding-top: 36px"
            ></i>
            <p>ALWAYS FRESH</p>
            <p>PRODUCTS WELL PACKED</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="card"
          style="
            width: 12rem;
            text-align: center;
            padding: 20px;
            height: 12rem;
            border-radius: 50%;
            border: 1px solid black;
            background-color: #28a745;
          "
        >
          <div class="card-body">
            <i
              class="fa fa-phone-square"
              aria-hidden="true"
              style="font-size: 50px; padding-top: 36px"
            ></i>
            <p>SUPPORT</p>
            <p>24/7 SUPPORT</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="thirdsec">
  <div class="container-fluid">
    <div class="row" style="padding-left: 150px">
      <div class="col-md-4" style="padding: 20px">
        <div
          class="card"
          style="
            width: 19rem;
            height: 18rem;

            border: 1px solid white;
          "
        >
          <div
            class="card-body"
            style="
              background-image: url(https://images2.minutemediacdn.com/image/upload/c_fill,w_720,ar_16:9,f_auto,q_auto,g_auto/shape/cover/sport/643188-gettyimages-153946385-ca1ccfaad9be44325afc434b305adc0d.jpg);
              width: 350px;
              height: 288px;
            "
          >
            <a
              href="#"
              class="btn btn-success"
              style="margin-top: 238px; padding: 10px"
              ><h4>Vetetables</h4></a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4" style="padding: 20px">
        <div
          class="card"
          style="
            width: 19rem;
            height: 18rem;

            border: 1px solid white;
          "
        >
          <div class="card-body" style="text-align: center">
            <h4 style="color: #82ae46; padding: 5px">Vegetables</h4>
            <p style="color: gray; padding: 10px">Protect the health of home</p>
            <a
              href="#"
              class="btn btn-success"
              style="
                padding: 10px 30px 10px 30px;
                margin-top: 25px;
                border-radius: 50px;
              "
              ><h4>Shop Now</h4></a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="card"
          style="
            width: 19rem;
            height: 18rem;

            border: 1px solid white;
          "
        >
          <div
            class="card-body"
            style="
              background-image: url(https://cdn.britannica.com/58/91558-004-02230751.jpg);
              width: 350px;
              height: 288px;
            "
          >
            <a
              href="#"
              class="btn btn-success"
              style="margin-top: 238px; padding: 10px"
              ><h4>Fruits</h4></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fourthsection">
  <div class="container">
    <div class="row" style="padding-left: 170px">
      <div class="col-md-4">
        <div
          class="card"
          style="
            width: 19rem;
            height: 18rem;

            border: 1px solid white;
          "
        >
          <div
            class="card-body"
            style="
              background-image: url(https://www.archanaskitchen.com/images/archanaskitchen/World_Beverages/Lauki_Juice_Recipe-14_400.jpg);
              width: 350px;
              height: 288px;
            "
          >
            <a
              href="#"
              class="btn btn-success"
              style="margin-top: 238px; padding: 10px"
              ><h4>Juices</h4></a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="card"
          style="
            width: 19rem;
            height: 18rem;

            border: 1px solid white;
          "
        >
          <div
            class="card-body"
            style="
              background-image: url(https://i0.wp.com/www.pancan.org/wp-content/uploads/2017/06/vegetable-basket-500x313.jpg?fit=500%2C313&ssl=1);
              width: 350px;
              height: 288px;
            "
          ></div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="card"
          style="
            width: 19rem;
            height: 18rem;

            border: 1px solid white;
          "
        >
          <div
            class="card-body"
            style="
              background-image: url(https://www.vegrecipesofindia.com/wp-content/uploads/2009/09/dry-fruits-name-1a.jpg);
              width: 350px;
              height: 288px;
            "
          >
            <a
              href="#"
              class="btn btn-success"
              style="margin-top: 238px; padding: 10px"
              ><h4>Dried</h4></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fifthsection">
  <div class="container">
    <p
      style="
        margin-top: 200px;
        text-align: center;
        padding: 15px;
        color: #82ae46;
        font-size: 20px;
      "
    >
      Featured Products
    </p>
    <h2 style="text-align: center; font-size: 45px">Our Products</h2>
    <p style="text-align: center; padding: 20px; font-size: 20px; color: gray">
      Far far away, behind the word mountains, far from the countries Vokalia
      and Consonantia
    </p>
    <div class="row" style="padding-left: 150px">
      <div class="col-md-3">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="https://technext.github.io/vegefoods/images/product-1.jpg"
            alt="Card image cap"
          />
          <div class="card-body" style="text-align: center">
            <p class="card-text">CAPSICUM</p>
            <p style="color: #82ae46; padding: 8px">₹ 50/ Kg</p>
            <a href="#"
              ><i class="fa fa-bars" aria-hidden="true" style="color: #82ae46">
              </i>
              <i
                class="fa fa-cart-plus"
                aria-hidden="true"
                style="padding: 8px; color: #82ae46"
              >
              </i
              ><i class="fa fa-heart" aria-hidden="true" style="color: #82ae46">
              </i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="https://technext.github.io/vegefoods/images/product-2.jpg"
            alt="Card image cap"
          />
          <div class="card-body" style="text-align: center">
            <p class="card-text">STRAWBERRY</p>
            <p style="color: #82ae46; padding: 8px">₹ 50/ Kg</p>
            <a href="#"
              ><i class="fa fa-bars" aria-hidden="true" style="color: #82ae46">
              </i>
              <i
                class="fa fa-cart-plus"
                aria-hidden="true"
                style="padding: 8px; color: #82ae46"
              >
              </i
              ><i class="fa fa-heart" aria-hidden="true" style="color: #82ae46">
              </i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="https://technext.github.io/vegefoods/images/product-3.jpg"
            alt="Card image cap"
          />
          <div class="card-body" style="text-align: center">
            <p class="card-text">GREEN PEAS</p>
            <p style="color: #82ae46; padding: 8px">₹ 50/ Kg</p>
            <a href="#"
              ><i class="fa fa-bars" aria-hidden="true" style="color: #82ae46">
              </i>
              <i
                class="fa fa-cart-plus"
                aria-hidden="true"
                style="padding: 8px; color: #82ae46"
              >
              </i
              ><i class="fa fa-heart" aria-hidden="true" style="color: #82ae46">
              </i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="https://technext.github.io/vegefoods/images/product-4.jpg"
            alt="Card image cap"
          />
          <div class="card-body" style="text-align: center">
            <p class="card-text">PURPLE CABBAGE</p>
            <p style="color: #82ae46; padding: 8px">₹ 50/ Kg</p>
            <a href="#"
              ><i class="fa fa-bars" aria-hidden="true" style="color: #82ae46">
              </i>
              <i
                class="fa fa-cart-plus"
                aria-hidden="true"
                style="padding: 8px; color: #82ae46"
              >
              </i
              ><i class="fa fa-heart" aria-hidden="true" style="color: #82ae46">
              </i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sixthsection">
  <div class="container-fluid">
    <div class="bgimgsixthsec">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6" style="padding-left: 100px">
          <p style="margin-top: 130px; color: #82ae46; font-size: 20px">
            Best Price For You
          </p>
          <h3
            style="padding: 35px 0 35px 0; font-weight: bolder; font-size: 40px"
          >
            Deal of the day
          </h3>
          <p style="color: gray; font-size: 20px">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia
          </p>
          <h2 style="color: #82ae46; padding: 35px 0 10px 0; font-size: 40px">
            Spinach
          </h2>
          <p style="color: gray; font-size: 20px">₹10 now ₹5 only</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="seventhsection">
  <div class="container">
    <p style="margin-top: 130px">Testimony</p>
  </div>
</div>
